GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAILS=owner@example.com
RESERVATION_TO_EMAIL=owner@example.com
GMAIL_USER=owner@example.com
GMAIL_APP_PASSWORD=
